tgcrypto
asyncio
ffmpeg-python
hit+https://github.com/ITZ-ZAID/calls@master
git+https://github.com/pyrogram/pyrogram@master
youtube-search-python==1.4.9
git+https://github.com/ITZ-ZAID/yt-download@master
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
git+https://github.com/ITZ-ZAID/youtube-dl@master
