tgcrypto
ffmpeg-python
py-tgcalls==0.8.6
pyrogram==1.4.12
yt-dlp==2021.11.10.1
youtube-search-python
youtube-search
python-dotenv
dnspython
gitpython
asgiref
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
speedtest-cli
pymongo
